html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* --- ANA SAYFA ÖZEL TASARIMLARI --- */

/* Kartların yukarı kalkma efekti */
.hover-up { 
    transition: all 0.3s ease; 
}
.hover-up:hover { 
    transform: translateY(-10px); 
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
}

/* Buton büyüme efekti */
.hover-scale { 
    transition: transform 0.2s; 
}
.hover-scale:hover { 
    transform: scale(1.05); 
}

/* PNG Resim Süzülme Animasyonu */
.floating-img {
    animation: float 6s ease-in-out infinite;
}

/* Burada artık tek @ işareti kullanıyoruz çünkü burası saf CSS dosyası */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
