@model string

<div class="d-flex align-items-center text-white bg-success px-3 py-1 rounded-pill shadow-sm ms-3">
    <i class="fa-solid fa-dollar-sign me-1"></i>
    <span class="fw-bold small">USD: @Model ₺</span>
</div>